.test {
    font-size: 12px;
    color: rgb(217, 0, 0);
    text-align: left;
}

#title {
    color:white;
}

.list-item {
    list-style: none;
}

.list-item li {
    margin: 10px;
}

li input {
    margin: 10px;
}

button{
    margin: 10px;
    color: blueviolet;
    border-color: aquamarine;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}

button.complete {
    border: none;
    font-weight: 700;
}

button.complete:hover {
    border: none;
    font-weight: 700;
    color: aqua;
}


button:hover {
    color: aqua;
    border-color: blueviolet;
    font-weight: 700;
}

input[type="text"], input[type="email"], textarea {
    border: 2px solid #ccc; /* Sets the border color and width */
    background-color: #f7f7f7; /* Sets the background color */
    padding: 10px; /* Sets the padding inside the input fields */
    font-size: 16px; /* Sets the font size of the input fields */
    border-radius: 5px; /* Sets the border radius of the input fields */
  }